USE [Fashion_Website]
GO
/****** Object:  Table [dbo].[Category]    Script Date: 2/12/2025 20:59:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_I DENTIFIER ON
GO
CREATE TABLE [dbo].[Category](
	[category_id] [int] IDENTITY(1,1) NOT NULL,
	[category_name] [nvarchar](50) NOT NULL,
	[Desciption] [nvarchar](max) NULL,
 CONSTRAINT [PK_Category] PRIMARY KEY CLUSTERED 
(
	[category_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Colors]    Script Date: 2/12/2025 20:59:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Colors](
	[color_id] [int] IDENTITY(1,1) NOT NULL,
	[color] [nvarchar](20) NULL,
 CONSTRAINT [PK_Color] PRIMARY KEY CLUSTERED 
(
	[color_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Comment]    Script Date: 2/12/2025 20:59:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Comment](
	[product_id] [int] NOT NULL,
	[user_id] [int] NOT NULL,
	[content] [nvarchar](max) NOT NULL,
	[luot_edit] [int] NULL,
	[comment_date] [date] NOT NULL,
	[comment_date_update] [date] NULL,
	[rating] [int] NOT NULL,
 CONSTRAINT [PK_Comment] PRIMARY KEY CLUSTERED 
(
	[product_id] ASC,
	[user_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FeedBack]    Script Date: 2/12/2025 20:59:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FeedBack](
	[feedback_id] [int] IDENTITY(1,1) NOT NULL,
	[user_id] [int] NOT NULL,
	[subject_name] [nvarchar](50) NOT NULL,
	[note] [nvarchar](max) NOT NULL,
	[feedback_date] [date] NOT NULL,
 CONSTRAINT [PK_FeedBack] PRIMARY KEY CLUSTERED 
(
	[feedback_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Galery]    Script Date: 2/12/2025 20:59:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Galery](
	[galery_id] [int] IDENTITY(1,1) NOT NULL,
	[product_id] [int] NOT NULL,
	[thumbnail] [nvarchar](max) NULL,
 CONSTRAINT [PK_Galery] PRIMARY KEY CLUSTERED 
(
	[galery_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Order_Details]    Script Date: 2/12/2025 20:59:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Order_Details](
	[order_id] [int] NOT NULL,
	[product_id] [int] NOT NULL,
	[color_id] [int] NOT NULL,
	[size_id] [int] NOT NULL,
	[price] [decimal](10, 2) NOT NULL,
	[discount] [int] NOT NULL,
	[quantity] [int] NOT NULL,
 CONSTRAINT [PK_Order_Detail] PRIMARY KEY CLUSTERED 
(
	[order_id] ASC,
	[product_id] ASC,
	[color_id] ASC,
	[size_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Orders]    Script Date: 2/12/2025 20:59:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Orders](
	[Order_id] [int] IDENTITY(1,1) NOT NULL,
	[user_id] [int] NOT NULL,
	[full_name] [nvarchar](100) NOT NULL,
	[phone_number] [nvarchar](20) NOT NULL,
	[email] [nvarchar](50) NULL,
	[address] [nvarchar](200) NOT NULL,
	[order_date] [date] NOT NULL,
	[note] [nvarchar](100) NULL,
	[payment_id] [int] NOT NULL,
	[status] [int] NOT NULL,
	[total_money] [decimal](10, 2) NULL,
 CONSTRAINT [PK_Order] PRIMARY KEY CLUSTERED 
(
	[Order_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Payment]    Script Date: 2/12/2025 20:59:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Payment](
	[payment_id] [int] IDENTITY(1,1) NOT NULL,
	[payment_name] [nvarchar](100) NULL,
 CONSTRAINT [PK_Payment] PRIMARY KEY CLUSTERED 
(
	[payment_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Product]    Script Date: 2/12/2025 20:59:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Product](
	[product_id] [int] IDENTITY(1,1) NOT NULL,
	[category_id] [int] NOT NULL,
	[supperlier_id] [int] NOT NULL,
	[product_name] [nvarchar](100) NOT NULL,
	[quantity_per_unit] [int] NOT NULL,
	[quantity_stock] [int] NULL,
	[quantity_sold] [int] NULL,
	[price] [decimal](10, 2) NOT NULL,
	[discount] [int] NULL,
	[desciption] [nvarchar](max) NULL,
	[created_at] [date] NOT NULL,
	[updated_at] [date] NULL,
	[deleted] [bit] NOT NULL,
 CONSTRAINT [PK_Product] PRIMARY KEY CLUSTERED 
(
	[product_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Product_detail]    Script Date: 2/12/2025 20:59:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Product_detail](
	[product_id] [int] NOT NULL,
	[color_id] [int] NOT NULL,
	[size_id] [int] NOT NULL,
	[quantity] [int] NOT NULL,
 CONSTRAINT [PK_Product_Detail] PRIMARY KEY CLUSTERED 
(
	[product_id] ASC,
	[color_id] ASC,
	[size_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Roles]    Script Date: 2/12/2025 20:59:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Roles](
	[role_id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](20) NOT NULL,
 CONSTRAINT [PK_Roles] PRIMARY KEY CLUSTERED 
(
	[role_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Size]    Script Date: 2/12/2025 20:59:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Size](
	[size_id] [int] IDENTITY(1,1) NOT NULL,
	[size_option] [nvarchar](10) NOT NULL,
 CONSTRAINT [PK_Size] PRIMARY KEY CLUSTERED 
(
	[size_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Supperlier]    Script Date: 2/12/2025 20:59:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Supperlier](
	[supperlier_id] [int] IDENTITY(1,1) NOT NULL,
	[company_name] [nvarchar](100) NOT NULL,
	[phone_number] [nvarchar](11) NOT NULL,
	[county] [nvarchar](50) NULL,
 CONSTRAINT [PK_Supperlier] PRIMARY KEY CLUSTERED 
(
	[supperlier_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 2/12/2025 20:59:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[user_id] [int] IDENTITY(1,1) NOT NULL,
	[role_id] [int] NOT NULL,
	[user_name] [nvarchar](50) NOT NULL,
	[pass_word] [nvarchar](50) NOT NULL,
	[full_name] [nvarchar](50) NULL,
	[birth_day] [date] NULL,
	[image] [nvarchar](150) NULL,
	[phone_number] [nvarchar](11) NULL,
	[address] [nvarchar](200) NULL,
	[email] [nvarchar](50) NULL,
	[created_at] [date] NOT NULL,
	[updated_at] [date] NULL,
	[deleted] [bit] NOT NULL,
 CONSTRAINT [PK_User] PRIMARY KEY CLUSTERED 
(
	[user_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Wallets]    Script Date: 2/12/2025 20:59:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Wallets](
	[wallet_id] [int] IDENTITY(1,1) NOT NULL,
	[user_id] [int] NOT NULL,
	[balance] [decimal](10, 2) NULL,
 CONSTRAINT [PK_Wallets] PRIMARY KEY CLUSTERED 
(
	[wallet_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Category] ON 

INSERT [dbo].[Category] ([category_id], [category_name], [Desciption]) VALUES (1, N'POLO', N'Áo Polo từ thương hiệu 360 Boutique')
INSERT [dbo].[Category] ([category_id], [category_name], [Desciption]) VALUES (2, N'Áo Phông', N'Áo phông từ thương hiệu 360 Boutique')
INSERT [dbo].[Category] ([category_id], [category_name], [Desciption]) VALUES (3, N'Sơ Mi', N'Áo sơ mi từ thương hiệu 360 Boutique')
SET IDENTITY_INSERT [dbo].[Category] OFF
GO
SET IDENTITY_INSERT [dbo].[Colors] ON 

INSERT [dbo].[Colors] ([color_id], [color]) VALUES (1, N'Đen')
INSERT [dbo].[Colors] ([color_id], [color]) VALUES (2, N'Trắng')
INSERT [dbo].[Colors] ([color_id], [color]) VALUES (3, N'Nâu')
SET IDENTITY_INSERT [dbo].[Colors] OFF
GO
INSERT [dbo].[Comment] ([product_id], [user_id], [content], [luot_edit], [comment_date], [comment_date_update], [rating]) VALUES (1, 7, N'sản phẩm có chất lượng hoàn thiện khá tốt', 1, CAST(N'2024-03-12' AS Date), NULL, 4)
INSERT [dbo].[Comment] ([product_id], [user_id], [content], [luot_edit], [comment_date], [comment_date_update], [rating]) VALUES (2, 7, N'sản phẩm tạm được', 1, CAST(N'2024-03-10' AS Date), NULL, 4)
INSERT [dbo].[Comment] ([product_id], [user_id], [content], [luot_edit], [comment_date], [comment_date_update], [rating]) VALUES (3, 7, N'tôi khá thất vọng về sản phẩm này, chất lượng vải cực tệ', 1, CAST(N'2024-03-12' AS Date), NULL, 2)
GO
SET IDENTITY_INSERT [dbo].[FeedBack] ON 

INSERT [dbo].[FeedBack] ([feedback_id], [user_id], [subject_name], [note], [feedback_date]) VALUES (4, 9, N'chia sẻ cảm xúc', N'tôi cảm thấy rất thoải mái khi sử dụng trang web của các bạn', CAST(N'2024-03-12' AS Date))
INSERT [dbo].[FeedBack] ([feedback_id], [user_id], [subject_name], [note], [feedback_date]) VALUES (5, 46, N'chủ đề mua sắm', N'tôi cảm thấy web của bạn có rất nhiều đồ đẹp, mà tôi kh thể tìm thấy bên ngoài,  cảm giác của tôi lúc này thật là hạnh phúc', CAST(N'2024-03-12' AS Date))
INSERT [dbo].[FeedBack] ([feedback_id], [user_id], [subject_name], [note], [feedback_date]) VALUES (6, 14, N'hiểu biết', N'tôi nhận thấy sản phảm ở đây có giá rẻ hơn thị trường từ 10-20%, điều lại thật tốt cho người tiêu dùng', CAST(N'2024-03-12' AS Date))
SET IDENTITY_INSERT [dbo].[FeedBack] OFF
GO
SET IDENTITY_INSERT [dbo].[Galery] ON 

INSERT [dbo].[Galery] ([galery_id], [product_id], [thumbnail]) VALUES (1, 1, N'images/products/aophong/aphtk457-1.png')
INSERT [dbo].[Galery] ([galery_id], [product_id], [thumbnail]) VALUES (2, 1, N'images/products/aophong/aphtk457-10.png')
INSERT [dbo].[Galery] ([galery_id], [product_id], [thumbnail]) VALUES (3, 1, N'images/products/aophong/aphtk457-2.png')
GO
SET IDENTITY_INSERT [dbo].[Galery] OFF
GO
INSERT [dbo].[Order_Details] ([order_id], [product_id], [color_id], [size_id], [price], [discount], [quantity]) VALUES (1, 1, 1, 1, CAST(99000.00 AS Decimal(10, 2)), 22, 2)
INSERT [dbo].[Order_Details] ([order_id], [product_id], [color_id], [size_id], [price], [discount], [quantity]) VALUES (1, 1, 2, 3, CAST(99000.00 AS Decimal(10, 2)), 22, 3)
INSERT [dbo].[Order_Details] ([order_id], [product_id], [color_id], [size_id], [price], [discount], [quantity]) VALUES (1, 2, 2, 1, CAST(299000.00 AS Decimal(10, 2)), 15, 2)
GO
SET IDENTITY_INSERT [dbo].[Orders] ON 

INSERT [dbo].[Orders] ([Order_id], [user_id], [full_name], [phone_number], [email], [address], [order_date], [note], [payment_id], [status], [total_money]) VALUES (1, 7, N'Nguyễn Văn A', N'0337783926', N'nguyenvana@gmail.com', N'63A Lạc Long Quân', CAST(N'2024-01-15' AS Date), N'Giao hàng cẩn thận', 1, 1, CAST(3395000.00 AS Decimal(10, 2)))
INSERT [dbo].[Orders] ([Order_id], [user_id], [full_name], [phone_number], [email], [address], [order_date], [note], [payment_id], [status], [total_money]) VALUES (2, 8, N'Nguyễn Văn B', N'0123456789', N'nguyenvanb@gmail.com', N'19 Nguyễn Trãi', CAST(N'2023-12-25' AS Date), N'Ship hoa toc', 1, 1, CAST(3848000.00 AS Decimal(10, 2)))
INSERT [dbo].[Orders] ([Order_id], [user_id], [full_name], [phone_number], [email], [address], [order_date], [note], [payment_id], [status], [total_money]) VALUES (3, 9, N'Trần Thị A', N'0987654321', N'tranthia@gmail.com', N'11 Ba Đình', CAST(N'2024-02-25' AS Date), N'Ship nhanh hộ mình', 2, 2, CAST(2304000.00 AS Decimal(10, 2)))
SET IDENTITY_INSERT [dbo].[Orders] OFF
GO
SET IDENTITY_INSERT [dbo].[Payment] ON 

INSERT [dbo].[Payment] ([payment_id], [payment_name]) VALUES (1, N'PAYMENT BY BALANCE')
INSERT [dbo].[Payment] ([payment_id], [payment_name]) VALUES (2, N'PAYMENT ON DELIVERY')
SET IDENTITY_INSERT [dbo].[Payment] OFF
GO
SET IDENTITY_INSERT [dbo].[Product] ON 

INSERT [dbo].[Product] ([product_id], [category_id], [supperlier_id], [product_name], [quantity_per_unit], [quantity_stock], [quantity_sold], [price], [discount], [desciption], [created_at], [updated_at], [deleted]) VALUES (2, 2, 1, N'Áo phông nam APHTK468', 100, 93, 7, CAST(299000.00 AS Decimal(10, 2)), 15, N'Chất liệu : Single Jersey*Form : Regular*Đặc tính : Trắng, Nâu*Màu : S-XL', CAST(N'2023-04-17' AS Date), NULL, 0)
INSERT [dbo].[Product] ([product_id], [category_id], [supperlier_id], [product_name], [quantity_per_unit], [quantity_stock], [quantity_sold], [price], [discount], [desciption], [created_at], [updated_at], [deleted]) VALUES (3, 2, 1, N'Áo phông nam APHTK466', 100, 97, 3, CAST(269000.00 AS Decimal(10, 2)), 37, N'Chất liệu : Single Jersey*Form : Regular*Đặc tính : Chất liệu thoáng mát, thoải mái khi vận động. HÌnh thêu chuyển màu tinh tế, sắc nét*Màu : Trắng, Đen, Xanh cổ vịt*Size : S-XL', CAST(N'2023-08-16' AS Date), NULL, 0)
GO
SET IDENTITY_INSERT [dbo].[Product] OFF
GO
INSERT [dbo].[Product_detail] ([product_id], [color_id], [size_id], [quantity]) VALUES (1, 1, 1, 1)
INSERT [dbo].[Product_detail] ([product_id], [color_id], [size_id], [quantity]) VALUES (1, 1, 2, 10)
INSERT [dbo].[Product_detail] ([product_id], [color_id], [size_id], [quantity]) VALUES (1, 1, 3, 5)
GO
SET IDENTITY_INSERT [dbo].[Roles] ON 

INSERT [dbo].[Roles] ([role_id], [name]) VALUES (1, N'Admin')
INSERT [dbo].[Roles] ([role_id], [name]) VALUES (2, N'User')
SET IDENTITY_INSERT [dbo].[Roles] OFF
GO
SET IDENTITY_INSERT [dbo].[Size] ON 

INSERT [dbo].[Size] ([size_id], [size_option]) VALUES (3, N'L')
INSERT [dbo].[Size] ([size_id], [size_option]) VALUES (2, N'M')
INSERT [dbo].[Size] ([size_id], [size_option]) VALUES (1, N'S')
SET IDENTITY_INSERT [dbo].[Size] OFF
GO
SET IDENTITY_INSERT [dbo].[Supperlier] ON 

INSERT [dbo].[Supperlier] ([supperlier_id], [company_name], [phone_number], [county]) VALUES (1, N'360 Boutique', N'0999999999', N'Việt Nam')
SET IDENTITY_INSERT [dbo].[Supperlier] OFF
GO
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([user_id], [role_id], [user_name], [pass_word], [full_name], [birth_day], [image], [phone_number], [address], [email], [created_at], [updated_at], [deleted]) VALUES (1, 1, N'Admin01', N'123456', N'abc xyz', NULL, N'images/users/user-9.jpg', NULL, NULL, NULL, CAST(N'2024-02-24' AS Date), CAST(N'2024-03-09' AS Date), 0)
INSERT [dbo].[Users] ([user_id], [role_id], [user_name], [pass_word], [full_name], [birth_day], [image], [phone_number], [address], [email], [created_at], [updated_at], [deleted]) VALUES (2, 1, N'Admin02', N'123456', NULL, NULL, N'images/users/user-2.jpg', NULL, NULL, NULL, CAST(N'2024-02-24' AS Date), NULL, 0)
INSERT [dbo].[Users] ([user_id], [role_id], [user_name], [pass_word], [full_name], [birth_day], [image], [phone_number], [address], [email], [created_at], [updated_at], [deleted]) VALUES (3, 2, N'user01', N'123456', N'user 01', NULL, N'images/users/user-10.jpg', NULL, NULL, N'user01@gmail.com', CAST(N'2024-02-24' AS Date), CAST(N'2024-03-10' AS Date), 0)
SET IDENTITY_INSERT [dbo].[Users] OFF
GO
SET IDENTITY_INSERT [dbo].[Wallets] ON 

INSERT [dbo].[Wallets] ([wallet_id], [user_id], [balance]) VALUES (1, 1, CAST(1200000.00 AS Decimal(10, 2)))
INSERT [dbo].[Wallets] ([wallet_id], [user_id], [balance]) VALUES (2, 2, CAST(50000.00 AS Decimal(10, 2)))
INSERT [dbo].[Wallets] ([wallet_id], [user_id], [balance]) VALUES (3, 3, CAST(0.00 AS Decimal(10, 2)))
SET IDENTITY_INSERT [dbo].[Wallets] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Size__23461A6AAECF047A]    Script Date: 2/12/2025 20:59:11 PM ******/
ALTER TABLE [dbo].[Size] ADD UNIQUE NONCLUSTERED 
(
	[size_option] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Users__7C9273C4C67B734F]    Script Date: 2/12/2025 20:59:11 PM ******/
ALTER TABLE [dbo].[Users] ADD UNIQUE NONCLUSTERED 
(
	[user_name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Comment]  WITH CHECK ADD  CONSTRAINT [FK_Comment_Product] FOREIGN KEY([product_id])
REFERENCES [dbo].[Product] ([product_id])
GO
ALTER TABLE [dbo].[Comment] CHECK CONSTRAINT [FK_Comment_Product]
GO
ALTER TABLE [dbo].[Comment]  WITH CHECK ADD  CONSTRAINT [FK_Comment_User] FOREIGN KEY([user_id])
REFERENCES [dbo].[Users] ([user_id])
GO
ALTER TABLE [dbo].[Comment] CHECK CONSTRAINT [FK_Comment_User]
GO
ALTER TABLE [dbo].[FeedBack]  WITH CHECK ADD  CONSTRAINT [FK_FeedBack_User] FOREIGN KEY([user_id])
REFERENCES [dbo].[Users] ([user_id])
GO
ALTER TABLE [dbo].[FeedBack] CHECK CONSTRAINT [FK_FeedBack_User]
GO
ALTER TABLE [dbo].[Galery]  WITH CHECK ADD  CONSTRAINT [FK_Galery_Product] FOREIGN KEY([product_id])
REFERENCES [dbo].[Product] ([product_id])
GO
ALTER TABLE [dbo].[Galery] CHECK CONSTRAINT [FK_Galery_Product]
GO
ALTER TABLE [dbo].[Order_Details]  WITH CHECK ADD  CONSTRAINT [FK_Order_deltail_Product] FOREIGN KEY([product_id])
REFERENCES [dbo].[Product] ([product_id])
GO
ALTER TABLE [dbo].[Order_Details] CHECK CONSTRAINT [FK_Order_deltail_Product]
GO
ALTER TABLE [dbo].[Order_Details]  WITH CHECK ADD  CONSTRAINT [FK_Order_detail_Colors] FOREIGN KEY([color_id])
REFERENCES [dbo].[Colors] ([color_id])
GO
ALTER TABLE [dbo].[Order_Details] CHECK CONSTRAINT [FK_Order_detail_Colors]
GO
ALTER TABLE [dbo].[Order_Details]  WITH CHECK ADD  CONSTRAINT [FK_Order_detail_Order] FOREIGN KEY([order_id])
REFERENCES [dbo].[Orders] ([Order_id])
GO
ALTER TABLE [dbo].[Order_Details] CHECK CONSTRAINT [FK_Order_detail_Order]
GO
ALTER TABLE [dbo].[Order_Details]  WITH CHECK ADD  CONSTRAINT [FK_Order_detail_Size] FOREIGN KEY([size_id])
REFERENCES [dbo].[Size] ([size_id])
GO
ALTER TABLE [dbo].[Order_Details] CHECK CONSTRAINT [FK_Order_detail_Size]
GO
ALTER TABLE [dbo].[Orders]  WITH CHECK ADD  CONSTRAINT [FK_Order_Payment] FOREIGN KEY([payment_id])
REFERENCES [dbo].[Payment] ([payment_id])
GO
ALTER TABLE [dbo].[Orders] CHECK CONSTRAINT [FK_Order_Payment]
GO
ALTER TABLE [dbo].[Orders]  WITH CHECK ADD  CONSTRAINT [FK_Order_User] FOREIGN KEY([user_id])
REFERENCES [dbo].[Users] ([user_id])
GO
ALTER TABLE [dbo].[Orders] CHECK CONSTRAINT [FK_Order_User]
GO
ALTER TABLE [dbo].[Product]  WITH CHECK ADD  CONSTRAINT [FK_Product_Category] FOREIGN KEY([category_id])
REFERENCES [dbo].[Category] ([category_id])
GO
ALTER TABLE [dbo].[Product] CHECK CONSTRAINT [FK_Product_Category]
GO
ALTER TABLE [dbo].[Product]  WITH CHECK ADD  CONSTRAINT [FK_Product_Supperlier] FOREIGN KEY([supperlier_id])
REFERENCES [dbo].[Supperlier] ([supperlier_id])
GO
ALTER TABLE [dbo].[Product] CHECK CONSTRAINT [FK_Product_Supperlier]
GO
ALTER TABLE [dbo].[Product_detail]  WITH CHECK ADD  CONSTRAINT [FK_Product_Detail_C] FOREIGN KEY([color_id])
REFERENCES [dbo].[Colors] ([color_id])
GO
ALTER TABLE [dbo].[Product_detail] CHECK CONSTRAINT [FK_Product_Detail_C]
GO
ALTER TABLE [dbo].[Product_detail]  WITH CHECK ADD  CONSTRAINT [FK_Product_Detail_P] FOREIGN KEY([product_id])
REFERENCES [dbo].[Product] ([product_id])
GO
ALTER TABLE [dbo].[Product_detail] CHECK CONSTRAINT [FK_Product_Detail_P]
GO
ALTER TABLE [dbo].[Product_detail]  WITH CHECK ADD  CONSTRAINT [FK_Product_Detail_S] FOREIGN KEY([size_id])
REFERENCES [dbo].[Size] ([size_id])
GO
ALTER TABLE [dbo].[Product_detail] CHECK CONSTRAINT [FK_Product_Detail_S]
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD  CONSTRAINT [FK_User_Role] FOREIGN KEY([role_id])
REFERENCES [dbo].[Roles] ([role_id])
GO
ALTER TABLE [dbo].[Users] CHECK CONSTRAINT [FK_User_Role]
GO
ALTER TABLE [dbo].[Wallets]  WITH CHECK ADD  CONSTRAINT [FK_Wallets_User] FOREIGN KEY([user_id])
REFERENCES [dbo].[Users] ([user_id])
GO
ALTER TABLE [dbo].[Wallets] CHECK CONSTRAINT [FK_Wallets_User]
GO
